fastapi==0.111.0
uvicorn==0.30.1
python-dotenv==1.2.2
python-multipart==0.0.9
pydantic==2.12.5

# Core audio
numpy==1.26.4
scipy==1.11.4
librosa==0.10.1
soundfile==0.12.1
soxr==1.0.0

# ML / Voice
transformers==4.36.2
TTS==0.22.0

# Utils
requests==2.32.5
tqdm==4.66.2

# Required fixes
setuptools==68.2.2
langdetect==1.0.9
supabase
